registry=https://verdaccio.getpolarized.io/
always-auth=true
max_body_size=1000mb
//verdaccio.getpolarized.io/:_authToken=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZWFsX2dyb3VwcyI6WyJwb2xhciIsIiRhbGwiLCIkYXV0aGVudGljYXRlZCIsIkBhbGwiLCJAYXV0aGVudGljYXRlZCIsImFsbCJdLCJuYW1lIjoicG9sYXIiLCJncm91cHMiOlsicG9sYXIiLCIkYWxsIiwiJGF1dGhlbnRpY2F0ZWQiLCJAYWxsIiwiQGF1dGhlbnRpY2F0ZWQiLCJhbGwiLCIkYWxsIiwiJGF1dGhlbnRpY2F0ZWQiLCJAYWxsIiwiQGF1dGhlbnRpY2F0ZWQiLCJhbGwiLCJwb2xhciIsIiRhbGwiLCIkYXV0aGVudGljYXRlZCIsIkBhbGwiLCJAYXV0aGVudGljYXRlZCIsImFsbCJdLCJpYXQiOjE2MzUxMjcwNjgsIm5iZiI6MTYzNTEyNzA2OCwiZXhwIjoxODA3OTI3MDY4fQ.i6nnzkC1YztiHKDir3yq6CTmu-rkZTuS_ypCKfuXIdQ


# npm token
# eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZWFsX2dyb3VwcyI6WyJwb2xhciJdLCJuYW1lIjoicG9sYXIiLCJncm91cHMiOlsicG9sYXIiLCIkYWxsIiwiJGF1dGhlbnRpY2F0ZWQiLCJAYWxsIiwiQGF1dGhlbnRpY2F0ZWQiLCJhbGwiLCJwb2xhciJdLCJpYXQiOjE2MzUxMjc1MTQsIm5iZiI6MTYzNTEyNzUxNCwiZXhwIjoxODA3OTI3NTE0fQ.34v-L_otek9UPay_COZ1mEjgUpY6bG11tuBhApUtThU