

.polar-pdfviewer #polar-header {
    position: sticky;
    top: 0;
    height: 33px;
}

.polar-pdfviewer #viewer {
    padding-top: 10px;
}

.polar-pdfviewer #polar-header-body {
    margin-right: 10px;
}

@media only screen and (max-device-width: 1024px) {

    /* disable unnecessary buttons on mobile devices */
    #toolbarViewerMiddle,
    .splitToolbarButton #previous,
    .splitToolbarButton #next,
    #toolbarViewer #pageNumber,
    #toolbarViewer #numPages {
        display: none;
    }


}
