.reviewer {
    font-size: 18px !important;
}

.reviewer .flashcard {
    font-size: 25px !important;
}

.reviewer .task-stage {
    font-size: 18px !important;
}

.reviewer .progress {
    font-size: 18px !important;
}
