# pnpm Folders
.cache
.pnpm-store
node_modules

# pnpm log
.pnpm-debug.log

# Ignore IntelliJ related configuration
.idea
*.iml

# Typescript
*.d.ts
tsconfig.tsbuildinfo

# Webpack cache
.webpack-cache-loader

# Compile test reports
TESTS*.xml
test_results.xml
