node_modules
lerna-debug.log
.idea
.cache
tsconfig.tsbuildinfo
test_results.xml

# Ignore IntelliJ related configuration
*.iml

tsconfig.tsbuildinfo
.webpack-cache-loader

TESTS*.xml
*.d.ts

# ignore MacOS specific metadata folder.
.DS_Store
