# our npm credentials for using the bytesafe repo created with
# npm --registry https://polar-app.bytesafe.dev/r/default token create
//polar-app.bytesafe.dev/r/default:_authToken=01EPZ43T1JVFV2ZVZNR37NQJKG
