registry=https://verdaccio.getpolarized.io/
always-auth=true
max_body_size=1000mb
//verdaccio.getpolarized.io/:_authToken=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZWFsX2dyb3VwcyI6WyJwb2xhciIsIiRhbGwiLCIkYXV0aGVudGljYXRlZCIsIkBhbGwiLCJAYXV0aGVudGljYXRlZCIsImFsbCJdLCJuYW1lIjoicG9sYXIiLCJncm91cHMiOlsicG9sYXIiLCIkYWxsIiwiJGF1dGhlbnRpY2F0ZWQiLCJAYWxsIiwiQGF1dGhlbnRpY2F0ZWQiLCJhbGwiLCIkYWxsIiwiJGF1dGhlbnRpY2F0ZWQiLCJAYWxsIiwiQGF1dGhlbnRpY2F0ZWQiLCJhbGwiLCJwb2xhciIsIiRhbGwiLCIkYXV0aGVudGljYXRlZCIsIkBhbGwiLCJAYXV0aGVudGljYXRlZCIsImFsbCJdLCJpYXQiOjE2MjczNDIwMDAsIm5iZiI6MTYyNzM0MjAwMCwiZXhwIjoxNzEzNzQyMDAwfQ.P6StkZJzKH7S_WcRlSEKcwhVDH_7mV4x91X-alQaMG4