.indent1 {
  margin-left: 0px;
}

.indent2 {
  margin-left: 20px;
}

.indent3 {
  margin-left: 40px;
}

.indent4 {
  margin-left: 60px;
}
/* 
a {
  color: #e0e0e0;
  text-decoration: none;
} */

/* .list {
  width: 100%;
  max-width: 300px;
  max-width: 280px;
  background-color: #424242;
  overflow-y: scroll;

  /* padding-top: 20%;  */
/* height: 91vh; */
/* } */

.sideBarIntra {
  max-width: 260px;

  height: 100vh;
  overflow: hidden;
  z-index: -1;
  display: flex;
  padding: 0px;
  margin: 0px 0px 0px 0px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #424242;
  position: relative;
}

.background {
  padding: 15px;
  /* // maxHeight: 40vh; */
  overflow-x: hidden;
  margin-right: 200px;
}

,
.scrollbox::-webkit-scrollbar {
  width: 0.4em;
}
.scrollbox::-webkit-scrollbar,
.scrollbox::-webkit-scrollbar-thumb {
  overflow: visible;
  border-radius: 4px;
}
.scrollbox::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}
.cover-barIntra {
  position: absolute;
  background: #606060;
  height: 100%;
  top: 0;
  right: -0.4em;
  width: 0.8em;
  -webkit-transition: all 0.5s;
  opacity: 0;
  z-index: 400;
}
/* MAGIC HAPPENS HERE */
/*.scrollbox:hover .cover-barIntra {*/
/*  opacity: 0;*/
/*  -webkit-transition: all 0.5s;*/
/*}*/
