<div class="mt-4">
    <ol>
        <li><a href="/docs/getting-started.html">Getting Started</a></li>
        <li><a href="/docs/frequently-asked-questions.html">Frequently Asked Questions</a></li>

        <ol style="list-style-type: lower-latin">
            <li><a href="/docs/key-bindings-for-common-polar-operations.html">Key Bindings</a></li>
        </ol>

        <li><a href="/docs/mobile.html">Mobile</a></li>
        <li><a href="/docs/bulk-import.html">Bulk Import</a></li>
        <li><a href="/docs/web-page-capture-and-archival-of-html-content.html">Web Capture</a></li>
        <li><a href="/docs/annotation-sidebar.html">Annotation Sidebar</a></li>
        <li><a href="/docs/device-sync.html">Sync</a></li>
        <ol style="list-style-type: lower-latin">
            <li><a href="/docs/cloud-sync.html">Cloud Sync</a></li>
            <li><a href="/docs/git-sync.html">Git Sync</a></li>
        </ol>
        <li><a href="/docs/spaced-repetition.html">Spaced Repetition</a></li>
        <ol style="list-style-type: lower-latin">
            <li><a href="/docs/anki-sync-for-spaced-repetition.html">Anki Sync</a></li>
        </ol>
        <li><a href="/docs/incremental-reading.html">Incremental Reading</a></li>
        <ol style="list-style-type: lower-latin">
            <li><a href="/docs/pagemarks.html">Pagemarks</a></li>
        </ol>
        <li><a href="/docs/folders.html">Folders</a></li>
        <li><a href="/docs/sharing.html">Sharing</a></li>
        <li><a href="/docs/add-to-polar-button.html">Add to Polar Button</a></li>
        <li><a href="/docs/tracking-policy.html">Tracking Policy</a></li>
    </ol>
</div>
