<footer class="fdb-block footer-small bg-dark" data-block-type="footers" data-id="9">
  <div class="container">

    <div class="row align-items-center">
      <div class="col-12 col-md-8">
        <ul class="nav justify-content-center justify-content-md-start">
          <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/download.html">Download</a>
          </li>
          <!--<li class="nav-item">-->
          <!--<a class="nav-link" href="https://www.froala.com">Terms</a>-->
          <!--</li>-->
          <!--<li class="nav-item">-->
          <!--<a class="nav-link" href="https://www.froala.com">About</a>-->
          <!--</li>-->


        </ul>
      </div>

      <div class="col-12 col-md-4 mt-4 mt-md-0 text-center text-md-right">
        © 2018 Kevin Burton
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122721184-3"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-122721184-3');
  </script>

  <!--<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js"></script>-->
  <!--<script>-->
  <!--window.cookieconsent.initialise({-->
  <!--container: document.querySelector("body"),-->
  <!--palette:{-->
  <!--popup: {background: "#fff"},-->
  <!--button: {background: "#aa0000"},-->
  <!--},-->
  <!--revokable:true,-->
  <!--onStatusChange: function(status) {-->
  <!--console.log(this.hasConsented() ?-->
  <!--'enable cookies' : 'disable cookies');-->
  <!--},-->
  <!--law: {-->
  <!--regionalLaw: false,-->
  <!--},-->
  <!--location: true,-->
  <!--});-->
  <!--</script>-->

</footer>
