<footer class="fdb-block footer-small bg-dark" data-block-type="footers" data-id="9">
    <div class="container">

        <div class="row align-items-center">
            <div class="col-12">
                <ul class="nav text-center">
                    <li class="nav-item m-auto">
                        <a class="nav-link active" href="/">Home</a>
                    </li>

                    <li class="nav-item m-auto">
                        <a class="nav-link" href="/download.html">Download</a>
                    </li>

                    <li class="nav-item m-auto">
                        <a class="nav-link" href="/incremental-reading.html">Incremental Reading</a>
                    </li>

                    <li class="nav-item m-auto">
                        <a class="nav-link" href="/web-page-capture-and-archival.html">Web Page Capture and Archival</a>
                    </li>

                    <li class="nav-item m-auto">
                        <a class="nav-link" href="https://getpolarized.io/2018/12/16/polar-1.5-with-cloud-sync.html">Polar 1.5</a>
                    </li>

                    <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="https://www.froala.com">Terms</a>-->
                    <!--</li>-->
                    <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="https://www.froala.com">About</a>-->
                    <!--</li>-->


                </ul>
            </div>

            <!--<div class="col-12 col-md-4 mt-4 mt-md-0 text-center text-md-right">-->
                <!--© 2018 Kevin Burton-->
            <!--</div>-->

        </div>
    </div>

    {%- include scripts.html -%}

</footer>
