
  <style>

    @media (max-width: 767px) {

      .hidden-xs {
        display: none !important;
      }

    }

    #pricing {
      max-width: 1200px;
      margin: auto;
    }

    #pricing .fa-check {
      color: #39d5c5;
    }

    #pricing .white-box {
      padding: 30px;
      background: #ffffff;
      border-color: #252525;
      color: #252525;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      position: relative;
    }

    #pricing .feature-na {
      color: #cccccc;
    }

    #pricing .text-tint {
      color: #515151;
      border-color: #515151;
    }

    #pricing .high-shadow {
      -webkit-box-shadow: 0 11px 15px -7px rgba(0,0,0,0.2), 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12);
      -moz-box-shadow: 0 11px 15px -7px rgba(0,0,0,0.2),0 24px 38px 3px rgba(0,0,0,0.14),0 9px 46px 8px rgba(0,0,0,0.12);
      box-shadow: 0 11px 15px -7px rgba(0,0,0,0.2), 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12);
    }

    #pricing table th {
      width: 25%;
      vertical-align: top;
    }

    #pricing table {
      border-collapse: collapse;
      border-spacing: 0;
    }

    #pricing .table-box {
      padding: 0;
    }

    #pricing .highlight-plan {
      background: #EcF5Ff;
    }

    #pricing th,
    #pricing th * {
      font-weight: normal;
    }

    #pricing .text-small {
      font-size: 14px;
    }

    #pricing .text-large {
      font-size: 16px;
    }

    #pricing .text-xlarge {
      font-size: 20px;
    }

    #pricing .text-xxlarge {
      font-size: 35px;
    }

    #pricing .text-left {
      text-align: left;
    }

  </style>

<div id="pricing" class="hidden-xs">

    <div class="text-center mb-5">
        <h1>Pricing</h1>
    </div>

    <div class="white-box high-shadow table-box">
    <table class="table">
      <thead>
      <tr>
        <th><h2 class="text-tint text-left">
          Find a plan<br><span class="text-large">that's right for you.</span></h2></th>
        <th class="">
          <p class="text-xlarge ">Free</p>

          <h3 class="text-xxlarge">$0</h3>
          <p class="text-small text-tint">
            We want as many people to use Polar as possible.
          </p>
          <div>
<!--            <a class="btn bg-btn buy-non-saas" rel="nofollow" href="/wysiwyg-editor/checkout/step1/16">Buy now</a>-->
          </div>
          <br>
        </th>
        <th class="highlight-plan">
          <p class="text-xlarge  highlight">Bronze</p>

          <h3 class="text-xxlarge">$4.99<span class="text-small">/month</span></h3>
          <p class="text-small text-tint">Less than the price of a cup of
            coffee.  Need more storage and ready to move up to the next level?  We're ready when you are!</p>
          <div>
            <a class="btn r-btn shadow-level-1 highlight" rel="" href="https://opencollective.com/polar-bookshelf/contribute/tier/6659-bronze">Buy now</a>
          </div>
          <br>
        </th>
        <th class="">
          <p class="text-xlarge ">Silver</p>

          <h3 class="text-xxlarge">$9.99<span class="text-small">/month</span></h3>
          <p class="text-small text-tint">
            Designed for Polar power users!  Need more storage?  Let's do this!
          </p>
          <div>
            <a class="btn bg-btn" rel="" href="https://opencollective.com/polar-bookshelf/contribute/tier/6661-silver">Buy now</a>
          </div>
          <br>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          Automatic Updates
        </td>

        <td class="">
          <i class="fa fa-check"></i>
        </td>
        <td class="highlight-plan">
          <i class="fa fa-check"></i>
        </td>
        <td class="">
          <i class="fa fa-check"></i>
        </td>
      </tr>
      <tr>
        <td>
          Web + Desktop
        </td>

        <td class="">
          <i class="fa fa-check"></i>
        </td>
        <td class="highlight-plan">
          <i class="fa fa-check"></i>
        </td>
        <td class="">
          <i class="fa fa-check"></i>
        </td>
      </tr>
      <tr>
        <td>
          Number of active cloud devices
        </td>

        <td class="">
          2
        </td>
        <td class="highlight-plan">
          unlimited
        </td>
        <td class="">
          unlimited
        </td>
      </tr>
      <tr>
        <td>
          Cloud storage
        </td>

        <td class="">
          Up to 350MB
        </td>
        <td class="highlight-plan">
          Up to 2GB
        </td>
        <td class="">
          2GB to 50GB
        </td>
      </tr>
      <tr>
        <td>
          Max Captured Web Documents
        </td>

        <td class="">
          Up to 100
        </td>
        <td class="highlight-plan">
          Up to 500
        </td>
        <td class="">
          Up to 15,000
        </td>
      </tr>
      <tr>
        <td>
          Support
        </td>

        <td class="">
          <span class="feature-na">---</span>
        </td>
        <td class="highlight-plan">
          <i class="fa fa-check"></i>
        </td>
        <td class="">
          <i class="fa fa-check"></i>
        </td>
      </tr>

      </tbody>
    </table>

  </div>

  <p class="text-center" style="padding: 30px 50px 0 50px;text-align: justify;">
    Polar is <b>always Open Source!</b>  We're "free as in liberty."
    Developers who contribute back to Polar get a year of cloud storage for
    free.  If you'd like you can compile Polar from source directly but
    cloud usage fees still apply. Note that you can always use Polar without
    the cloud and just use the desktop app directly.  This way Polar will be
    "free as in beer." Just make sure to <b>backup your data!</b>.
  </p>

</div>
