
/*.glyphicon {*/
/*font: normal normal normal 14px/1 FontAwesome;*/
/*font-size: inherit;*/
/*}*/

body {
    padding: 15px;
}

label {
    font-weight: bold;
    font-size: 12px;
}

.CodeMirror, .CodeMirror-scroll {
    min-height: 100px;
}

.form-group {
    margin: 0;
    padding: 0;
}

fieldset .form-group {
    padding-bottom: 10px;
}

fieldset legend {
    display: none;
}

#schema-form button {
    float: right;
}

.required {
    margin-left: 3px;
}
