.note-frame *{
    color:#000;
}
kbd{
    color:#fff;
    background-color:#000;
}
.note-btn{
    color:#333;
    background-color:#fff;
    border-color:#fff;
}
.note-btn:focus,.note-btn.focus{
    color:#333;
    background-color:#ebebeb;
    border-color:#fff
}
.note-btn:hover{
    color:#333;
    background-color:#ebebeb;
    border-color:#fff
}
.note-btn.disabled:focus,.note-btn[disabled]:focus,fieldset[disabled] .note-btn:focus,.note-btn.disabled.focus,.note-btn[disabled].focus,fieldset[disabled] .note-btn.focus{
    background-color:#fff;
    border-color:#fff
}
.note-btn:hover,.note-btn:focus,.note-btn.focus{
    color:#333;
    background-color:#ebebeb;
}
.note-btn-primary{
    color:#fff;
}
.note-btn-primary:hover,.note-btn-primary:focus,.note-btn-primary.focus{
    color:#fff;
    background-color:#fa6362;
}
.close{
    color:#000;
}
.note-dropdown-item:hover{
    background-color:#ebebeb
}
a.note-dropdown-item,a.note-dropdown-item:hover{
    color:#000;
}
.note-modal-footer a{
    color:#337ab7;
}
.note-modal-footer a:hover,.note-modal-footer a:focus{
    color:#23527c;
}
.note-modal-footer .note-btn{
}
.note-modal-title{
    color:#42515f
}
.note-form-label{
    color:#42515f
}
.note-input::-webkit-input-placeholder{
    color:#eee
}
.note-input:-moz-placeholder{
    color:#eee
}
.note-input::-moz-placeholder{
    color:#eee
}
.note-input:-ms-input-placeholder{
    color:#eee
}
.note-tooltip.bottom .note-tooltip-arrow{
    border-bottom-color:#000;
}
.note-tooltip.top .note-tooltip-arrow{
    border-top-color:#000;
}
.note-tooltip.right .note-tooltip-arrow{
    border-right-color:#000;
}
.note-tooltip.left .note-tooltip-arrow{
    border-left-color:#000;
}
.note-tooltip-arrow{
    border-color:transparent;
}
.note-tooltip-content{
    color:#fff;
    background-color:#000
}
.note-popover.bottom .note-popover-arrow{
    border-bottom-color:#999;
    border-bottom-color:rgba(0,0,0,0.25);
}
.note-popover.bottom .note-popover-arrow::after{
    border-bottom-color:#fff;
}
.note-popover.top .note-popover-arrow{
    border-top-color:#999;
    border-top-color:rgba(0,0,0,0.25);
}
.note-popover.top .note-popover-arrow::after{
    border-top-color:#fff;
}
.note-popover.right .note-popover-arrow{
    border-right-color:#999;
    border-right-color:rgba(0,0,0,0.25);
}
.note-popover.right .note-popover-arrow::after{
    border-right-color:#fff;
}
.note-popover.left .note-popover-arrow{
    border-left-color:#999;
    border-left-color:rgba(0,0,0,0.25);
}
.note-popover.left .note-popover-arrow::after{
    border-left-color:#fff;
}
.note-popover-arrow::after{
    border-color:transparent;
}
.note-popover-content{
    color:#000;
    background-color:#fff
}
.note-editor .note-dropzone{
    color:#87cefa;
    background-color:#fff;
}
.note-editor .note-dropzone.hover{
    color:#098ddf
}
.note-editor .note-editing-area .note-editable a{
    color:#337ab7;
    background-color:inherit
}
.note-editor .note-editing-area .note-editable a:hover,.note-editor .note-editing-area .note-editable a:focus{
    color:#23527c;
}
.note-editor.note-frame .note-editing-area .note-editable{
    color:#000;
    background-color:#fff
}
.note-editor.note-frame .note-editing-area .note-editable[contenteditable="false"]{
    background-color:#e5e5e5
}
.note-editor.note-frame .note-editing-area .note-codable{
    color:#ccc;
    background-color:#222;
}
.note-editor.note-frame.fullscreen .note-editable{
    background-color:#fff
}
.note-editor.note-frame .note-status-output{
    color:#000;
}
.note-editor.note-frame .note-status-output .text-muted{
    color:#777
}
.note-editor.note-frame .note-status-output .text-primary{
    color:#286090
}
.note-editor.note-frame .note-status-output .text-success{
    color:#3c763d
}
.note-editor.note-frame .note-status-output .text-info{
    color:#31708f
}
.note-editor.note-frame .note-status-output .text-warning{
    color:#8a6d3b
}
.note-editor.note-frame .note-status-output .text-danger{
    color:#a94442
}
.note-editor.note-frame .note-status-output .alert{
    color:#000;
    background-color:#f5f5f5;
}
.note-editor.note-frame .note-status-output .alert-success{
    color:#3c763d!important;
    background-color:#dff0d8!important
}
.note-editor.note-frame .note-status-output .alert-info{
    color:#31708f!important;
    background-color:#d9edf7!important
}
.note-editor.note-frame .note-status-output .alert-warning{
    color:#8a6d3b!important;
    background-color:#fcf8e3!important
}
.note-editor.note-frame .note-status-output .alert-danger{
    color:#a94442!important;
    background-color:#f2dede!important
}
.note-editor.note-frame .note-statusbar{
    background-color:#f5f5f5;
}
.note-popover .note-popover-content,.note-toolbar{
    background-color:#fff
}
.note-popover .note-popover-content .note-color .note-dropdown-menu .note-palette .note-color-reset,.note-toolbar .note-color .note-dropdown-menu .note-palette .note-color-reset{
    background-color:#fff;
}
.note-popover .note-popover-content .note-dropdown-menu.note-check .note-dropdown-item i,.note-toolbar .note-dropdown-menu.note-check .note-dropdown-item i{
    color:deepskyblue;
}
.note-modal .note-modal-body .help-list-item:hover{
    background-color:#e0e0e0
}
.note-placeholder{
    color: gray;
}
.note-handle .note-control-selection .note-control-selection-bg{
    background-color:#000;
}
.note-handle .note-control-selection .note-control-sizing{
    background-color:#fff;
}
.note-handle .note-control-selection .note-control-selection-info{
    color:#fff;
    background-color:#000;
}
.note-hint-popover .note-popover-content .note-hint-group .note-hint-item.active,.note-hint-popover .note-popover-content .note-hint-group .note-hint-item:hover{
    color:#fff;
    background-color:#428bca;
}
