.annotation-sidebar {
    padding-top: 5px;
    /*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
    /*font-weight: 300;*/
    font-size: 14px;
    font-family: sans-serif;
}

.annotation-sidebar .text-highlight {
    /*margin: 5px;*/
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.annotation-sidebar .text-highlight p {
    margin: 0;
}

.annotation-sidebar .text-highlight p {
    padding: 5px;
}


.annotation-sidebar .text-highlight,
.annotation-sidebar .area-highlight {
    margin: 5px;
}

.annotation-sidebar .text-highlight blockquote {

    /*border-left: #FFD700 solid 3px;*/
    /*margin: 0 0 0 0;*/

    background-color: rgba(256, 256, 0, 0.5);
    /*opacity: 0.3;*/

    margin: 0;
    padding: 0;

    /*background-color: rgb(256, 256, 256);*/
    /*color: rgba(0, 0, 0, 1);*/

    /*border: lightgrey solid 1px;*/

}

#annotation-manager .annotation-sidebar .annotation-buttons {
    margin-top: 5px;
}

#annotation-manager .annotations:empty:before {
    content: "No annotations";
    height: 100px;
    text-align: center;
    font-size: 20px;
    color: grey;
    width: 100%;
    display: block;
    margin: 10px;
}
