
.annotationbar {
    background-color: #333333;
    width: 115px;
}

.annotationbar-btn:hover,
.annotationbar-btn {
    background-color: #333333;
    border-color: #333333;
}

.annotationbar-btn {
    /*opacity: 0.8;*/
}

.annotationbar-btn:hover {
    opacity: 1.0;
}

.annotationbar-popover {
    background-color: #333333;
}

.bs-popover-auto[x-placement^=bottom] .arrow::after,
.bs-popover-bottom .arrow::after {
    border-bottom-color: #333333;
}

.bs-popover-auto[x-placement^=top] .arrow::after,
.bs-popover-top .arrow::after {
    border-top-color: #333333;
}
