

.polar-pdfviewer #polar-header {
    position: sticky;
    top: 0;
    height: 33px;
}

.polar-pdfviewer #viewer {
    padding-top: 10px;
}

/* https://github.com/mozilla/pdf.js/issues/9843#issuecomment-433359365 */
.textLayer > div {
    height:200px;
}
