/*#secondaryToolbarButtonContainer > .polar-fa-button {*/
    /*font-size: 25px;*/
/*}*/

/*#secondaryToolbarButtonContainer > .polar-fa-button span {*/
    /*font-size: 12px;*/
/*}*/

#polar-header {
    position: sticky;
    left: 0;
    top: 0;
    color: white;
    text-align: center;
    background-color: rgb(71, 71, 71);
    box-shadow: inset 0 1px 1px hsla(0,0%,0%,.15), inset 0 -1px 0 hsla(0,0%,100%,.05), 0 1px 0 hsla(0,0%,0%,.15), 0 1px 1px hsla(0,0%,0%,.1);
    overflow: hidden;
    z-index: 99;
    width: 100%;

}

.polar-htmlviewer #polar-header {
    position: fixed;
}

.polar-htmlviewer #polar-progress {
    /*position: fixed;*/
    width: 100%;
    background-color: rgb(71, 71, 71);
}

#polar-progress {
    margin-top: 10px;
    margin-bottom: 10px;
}

#polar-header progress {
    /*position: absolute;;*/
    /*left: 5px;*/
    width: calc(100% - 10px);
    height: 12px;
}

#polar-footer {
    position: sticky;
    left: 0;
    bottom: 0;
    color: white;
    height: 20px;
    background-color: rgb(71, 71, 71);
    box-shadow: inset 0 1px 1px hsla(0,0%,0%,.15), inset 0 -1px 0 hsla(0,0%,100%,.05), 0 1px 0 hsla(0,0%,0%,.15), 0 1px 50px hsla(0,0%,0%,.1);

    border-top: 1px solid black;
    overflow: hidden;
    z-index: 99;
    /* padding: 10px; */
    vertical-align: middle;
    padding-top: 5px;
    padding-left: 5px;
    font-size: 12px;
    font-weight: bold;
}

.polar-dropdown {
    position: absolute;
    top: 3px;
    right: 15px;
}

#viewer {
    margin-bottom: 5px;
}

.text-highlight {
}

/**
 * We have to disable the PDF.js file upload button now.  It doesn't work when
 * being served via file URLs. It's not that big of a deal either way.
 */
#openFile {
    display: none;
}

#polarCreatePagemarksAcrossPages:before {

    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    content: "\f055";
    padding: 2px;
    font-size: 13px;

}

div#toast-container {
    position: absolute;
    z-index: 9999999;
    top: 90px;
    right: 70px;
    opacity: 1 !important;
}

.toast {
    opacity: 1 !important;
}


#set-title {

    background-color: rgb(71, 71, 71);
    width: 100%;
    vertical-align: middle;

    z-index: 999;

    margin-bottom: 10px;

    /*padding-top: 5px;*/
    /*padding-bottom: 6px;*/
    /*padding-left: 5px;*/
    /*padding-right: 5px;*/

}

#set-title input[type=text] {
    width: calc(100% - 10px);
    /*margin: 0 15px 5px 0px;*/
    /*margin-left: 5px;*/
    /*margin-bottom: 5px;*/
    /*padding: 0.3em;*/
    font-size: 12px;
}

#set-title input[type=text], textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    /*padding: 3px 0px 3px 3px;*/
    /*margin: 5px 1px 3px 0px;*/
    border: 1px solid #DDDDDD;
}

#set-title input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    /*padding: 3px 0px 3px 3px;*/
    /*margin: 5px 1px 3px 0px;*/
    border: 1px solid rgba(81, 203, 238, 1);
}
