
#set-title {

    background-color: rgb(71, 71, 71);
    width: 100%;
    vertical-align: middle;

    z-index: 999;

    margin-bottom: 10px;

    /*padding-top: 5px;*/
    /*padding-bottom: 6px;*/
    /*padding-left: 5px;*/
    /*padding-right: 5px;*/

}

#set-title-form {
    width: 100%;
}

#set-title input[type=text] {
    width: 100%;
    /*padding: 5px;*/
    /*margin: 0 15px 5px 0px;*/
    /*margin-left: 5px;*/
    /*margin-bottom: 5px;*/
    /*padding: 0.3em;*/
    font-size: 12px;
    box-sizing : border-box;

}

/*#set-title input[type=text], textarea {*/
    /*-webkit-transition: all 0.30s ease-in-out;*/
    /*-moz-transition: all 0.30s ease-in-out;*/
    /*-o-transition: all 0.30s ease-in-out;*/
    /*outline: none;*/
    /*!*padding: 3px 0px 3px 3px;*!*/
    /*!*margin: 5px 1px 3px 0px;*!*/
    /*border: 1px solid #DDDDDD;*/
/*}*/

/*#set-title input[type=text]:focus, textarea:focus {*/
    /*box-shadow: 0 0 5px rgba(81, 203, 238, 1);*/
    /*!*padding: 3px 0px 3px 3px;*!*/
    /*!*margin: 5px 1px 3px 0px;*!*/
    /*border: 1px solid rgba(81, 203, 238, 1);*/
/*}*/
