/*.page .text-highlight {*/
/*    opacity: 0.5;*/
/*    !*cursor: pointer;*!*/
/*}*/

/*!*.page .text-highlight:hover {*!*/
/*    !*opacity: 0.2;*!*/
/*!*}*!*/

/*.page .text-highlight,*/
/*.page .text-highlight[data-annotation-color="yellow"] {*/
/*    background-color: yellow;*/
/*}*/

/*.page .text-highlight[data-annotation-color="green"] {*/

/*    background-color: green;*/

/*}*/

/*.page .text-highlight[data-annotation-color="red"] {*/
/*    background-color: red;*/
/*}*/
