
.polar-viewer div#toast-container {
    position: fixed;
    z-index: 9999999;
    top: 90px;
    right: 70px;
    opacity: 1 !important;
    font-size: 14px;
}

.toast-message,
.toast {
    opacity: 1 !important;
}

.toast {
    width: 400px !important;
}
