@import "./App.css";
@import "./App.css";

@import "../../../node_modules/bootstrap/dist/css/bootstrap.min.css";
/* @import "../../node_modules/bootstrap/dist/css/bootstrap-theme.min.css"; */
@import "../../../node_modules/font-awesome/css/font-awesome.min.css";

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-x: hidden;
  height: 100%;
}

.rounded {
  border-radius: .25rem!important;
}

.shadow {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

#doc-table {
  /*margin: 5px;*/
}

#doc-repository header {
  margin: 5px 5px 0 5px;

}

#doc-repository header img {
  height: 50px;
}

#doc-repository header h1 {
  font-size: 18px;
  font-weight: bold;
}

#header-title h1 {
  margin-top: auto;
  margin-bottom: auto;
}
#header-logo {
  width: 55px;
}

#header-filter input[type=text] {
  width: 225px;
  padding: 3px;
}

.filter-tag-input {
    /*width: 150px;*/
}

.rt-td {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
}

footer .buttons {
    text-align: center;
    vertical-align: middle;
    /*display: table-cell;*/
    width: 100%;
    padding-top:5px;
}

footer .buttons .button {
  padding: 5px;
  display: inline;
}

.doc-button {
    font-size: 16px;
}

.doc-button:hover {
  cursor: pointer;
}

/*.doc-button:hover {*/
  /*!*color: black;*!*/
  /*cursor: hand !important;*/
/*}*/

.doc-button-inactive {
  color: lightgrey;
}

.doc-button-active {
    color: #222222;
}

.doc-button-selectable {
    color: grey;
}

.doc-button-inactive:hover {
  color: grey;
}

.header-filter-box label {
    user-select: none;
    margin-right: 5px;
}

.header-filter-clickable,
.header-filter-clickable * {
    cursor: pointer !important;
}

#filter-tag-input {
    padding-top: 0.5em;
}

.checkbox-group {
    display: table-cell;
    vertical-align: middle;
}
.checkbox-group {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-group > label {
    display: inline;
    margin-left: 5px;
}

.tag-input-popover {
    width: 500px !important;
    max-width: calc(100vw - 5px) !important;
}

.tag-input-popover label {
    font-weight: bold;
}

b, strong {
    font-weight: bold;
}

:focus {
    outline: none;
}
