.list {
  width: 100%;
  max-width: 300px;
  max-width: 280px;
  background-color: #606060;
  overflow-y: scroll;

  /* padding-top: 20%;  */
  height: 91vh;
  /* position: sticky; */
}

.sideBar {

  height: 100vh;
  overflow: hidden;
  z-index: -1;
  display: flex;
  padding: 0px;
  margin: 0px 0px 0px 0px;
  /* overflow-y: scroll; */
  overflow-x: hidden;
  background-color: #606060;
  /* position: sticky; */
}

.sideBar::-webkit-scrollbar {
  width: 0em;
}
.sideBar::-webkit-scrollbar,
.sideBar::-webkit-scrollbar-thumb {
  overflow: visible;
  border-radius: 4px;
}
.sideBar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}
.cover-bar {
  position: absolute;
  background: #606060;
  height: 100%;
  top: 0;
  right: -0.4em;
  width: 1.6em;
  -webkit-transition: all 0.5s;
  opacity: 1;
  z-index: 400;
}
/* MAGIC HAPPENS HERE */
/*.sideBar:hover .cover-bar {*/
/*  opacity: 0;*/
/*  -webkit-transition: all 0.5s;*/
/*}*/
