<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main id="post">

      <section>

        <div class="container">
          <div class="row">
            <div class="col">

              {% if page.release %}

              {% if page.large_image %}

              <img class="img-fluid border border-dark rounded" src="{{ page.large_image }}">
              {% endif %}

              {% if page.video_embed %}

              <div class="embed-responsive embed-responsive-16by9 mt-1 mb-1">
                <iframe class="embed-responsive-item"
                        width="560"
                        height="315"
                        src="{{ page.video_embed }}"
                        frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
              </div>

              {% endif %}

              <h1>{{ page.title }}</h1>

              {% endif %}

              {{ content }}

              {%- include mailing-list.html -%}

              {%- include comments.html -%}

              {%- include related-posts.html -%}

            </div>
          </div>
        </div>

      </section>

    </main>

    {%- include footer.html -%}

  </body>

</html>
