<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main id="post">

      <section>

        <div class="container">
          <div class="row">
            <div class="col">

              {{ content }}

              {%- include mailing-list.html -%}

              {%- include comments.html -%}

              {%- include related-posts.html -%}

            </div>
          </div>
        </div>

      </section>

    </main>

    {%- include footer.html -%}

  </body>

</html>
